{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#get "pages"}}
            {{#foreach pages}}
                {{#if featured}}
                    <div class="container large">
                        {{content}}
                    </div>
                {{/if}}
            {{/foreach}}
        {{/get}}
        <div class="post-feed">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>