{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed">
            {{#foreach posts}}
                {{#unless featured}}
                    {{> "loop"}}
                {{/unless}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>